@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.container{
    width: 60%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    place-items: center;
    animation: fadeIn 3s ease-in-out ;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }



form{
    padding: 50px;
    width: 62%;
    border-radius: 40px;
    background: #e0e0e0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  18px -18px 36px #bebebe,
                 -18px 18px 36px #ffffff;
}


    .password-display {
        padding-left: 25px;
        width: 70%;
        height: 35%;
        border-radius: 5px;
        min-height: 20px; 
        position: relative;
        cursor: default;
        overflow: hidden;
        display: flex;
        align-items: center;
        border-radius: 70px;
        background: #e0e0e0;
        border-radius: 50px;
        background: #e0e0e0;
        box-shadow:  14px -14px 28px #bebebe,
                     -14px 14px 28px #ffffff;
    }


.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.checkbox-label {
    margin-left: 13px; 
    color: #222522;
    cursor: pointer;
}

.length-label {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    margin: auto;
    gap: 20px;
    color: #222522;
}

.password-display {
    position: relative;
    color: #222522;
}

.copy-button {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    height: 100%;
    background: transparent;
}

.material-symbols-outlined{
    color: #222522;
}

.generate-button{
    border: none;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer; 
    width: 60px; 
    height: 60px; 
    transition: transform 0.3s ease, opacity 0.3s ease;
    background: #f3f3f3;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  6px -6px 12px #bebebe,
                 -6px 6px 12px #ffffff;
                 margin-top: 15px;

}



.iconChange{
    font-size: 35px;
}

.iconChange:hover {
    opacity: 0.7;
}

.generate-button:hover{
    transform: scale(1.1);
}

.length {
    cursor: grab;
    color: #e0e0e0;
}

/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
  }
  
  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 1rem;
    border-radius: 48px;
background: #e0e0e0;
box-shadow:  7px -7px 14px #c3c3c3,
             -7px 7px 14px #fdfdfd;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -7px; /* Centers thumb on the track */
    background:#e0e0e0;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor:grab;
    border-radius: 48px;
background: #e0e0e0;
box-shadow:  3px -3px 6px #c3c3c3,
             -3px 3px 6px #fdfdfd;
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    background-color: #e0e0e0;
    border-radius: 10px;
    height: 1rem;
  }
  
  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    background-color: #e0e0e0;
    border: none; /*Removes extra border that FF applies*/
    border-radius: 50%;
    height: 30px;
    width: 30px;
    cursor: grab;
  }
  
  input[type="range"]:focus::-moz-range-thumb{
    outline: 3px solid #e0e0e0;
    outline-offset: 0.125rem;
  }

  .options label {
    display: flex;
    align-items: center;
}

.checkbox-input {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    margin: 0; 
    font: inherit; 
    color: #222522; 
    width: 25px; 
    height: 25px; 
    border: 2px solid #e0e0e0; 
    border-radius: 5px; 
    background-color: #e0e0e0; 
    cursor: pointer; 
    border-radius: 48px;
background: #e0e0e0;
box-shadow:  3px -3px 5px #c7c7c7,
             -3px 3px 5px #f9f9f9;
}


.checkbox-input:checked::before {
    content: '\2714';  
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 100%; 
    height: 100%; 
    color: #222522; 
    font-size: 20px;
    padding-bottom: 15px;
}


.checkbox-input:hover{
    background-color: #e0e0e0; 
}


.copy{
    color: #222522;
    transition: opacity 0.3s ease;
}

.copy:hover{
    opacity: 0.7;
}

.checkbox-input{
    color: #222225;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .container{
        width: 90%;
        height: 80%;
        gap: 40px;
        margin-top: 40px;
    }

    form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 55%;
        gap: 30px;
        
}

.generate-button{
    width: 40px;
    height: 40px ;
    text-align: center;
}

.iconChange{
    transform: scale(1.2);
    font-size: 25px;
}
}


