.header {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    background: #e0e0e0;
    border-radius: 50px;
    width: 5%;
   margin: 100px;
    animation: fadeIn 3s ease-in-out ;
    border-radius: 50px;
background: #e0e0e0;
box-shadow:  16px -16px 31px #bebebe,
             -16px 16px 31px #ffffff;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    padding: 10px;
    gap: 20px;

}

a {
    cursor: pointer;
    transition: opacity 0.3s ease;
}

a:hover{
    opacity: 0.7;
}

img {
    width: 35px;
    height: 35px; 
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .header{
        width: 30%;
        margin: 20px 20px 0 20px;
        height: 45px;
        justify-content: center;
    }

    ul{
        flex-direction: row;
        margin: 0;
        margin-top: 0;
        gap: 10px;
        padding-top: 15px;

    }

    img{
        width: 30px;
        height: 30px;
    }
}
