body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f3f3f3d1;
    font-family: 'Space Mono', monospace;
    background: #e0e0e0;
 	background-blend-mode: normal, multiply;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: hidden;
}

html, body {
    height: 100%;
}
